.headCard{
    /* border: solid rgb(160, 160, 160);
    margin-top: 20px;
    border-radius: 20px; */
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-top: 7vh;
    padding: 10px;
}
.color{
    color: black;
    font-weight: bold;
    padding: 2px;
}
.border{
    border: 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btnmargin{
    margin-right: 35px;
}